<% provide(:title, "People, please stop hurting people!") %>

<div class="wrapper">
	<section class="letter-container">
		<p>People,</p> 
		<p>Please stop hurting people.</p>
		<p>Thanks,</p>
		<%= form_for(@signature, url: root_path(@signature)) do |f| %>

		  <%= f.label :firstname %>
		  <%= f.text_field :firstname %>

		  <%= f.label :lastname %>
		  <%= f.text_field :lastname %>

		  <%= f.label :email %>
		  <%= f.text_field :email %>

		  <%= f.submit "Sign"%>
		<% end %>
	</section><!-- / letter-container -->

	<section class="signatures-container">
		<h3><%= pluralize(@signatures, "signature")%>, and counting.</h3>
	</section><!-- / signatures-container -->
</div> <!-- / wrapper -->
