<% provide(:title, "People, please stop hurting people!") %>

<div class="wrapper">
	<section class="letter-container">
		<p>People,</p> 
		<p>Please stop hurting people.</p>
		<p>Thanks,</p>
		<%= form_for(@signature, url: root_path(@signature)) do |f| %>
		
		<fieldset>
		  <%= f.text_field :name, :class => "signature-name" %>

		  <%= f.submit "Sign", :class => "signature-submit" %>
		</fieldset>
		<% end %>
	</section><!-- / letter-container -->

	<section class="signatures-container">
		<h3><%= pluralize(@signature_count, "signature")%>, and counting.</h3>
		<% @signatures.each do |s| %>
			<h3><%= s.name %></h3>
		<% end %>
	</section><!-- / signatures-container -->
</div> <!-- / wrapper -->
